.el-input-number {
	.el-input-number__decrease, .el-input-number__increase {
		border: 0 !important;
		background-color: transparent;
	}
}

.el-dialog {
	.el-dialog__header {
		padding: 10px;
		text-align: center;
		border-bottom: 1px solid #f7f7f7;

		.el-dialog__title {
			font-size: 15px;
			letter-spacing: 0.5px;
		}

		.el-dialog__headerbtn {
			top: 13px;

			.el-dialog__close {
				font-size: 18px;
			}
		}
	}

	.el-dialog__body {
		padding: 20px;
	}

	.el-dialog__footer {
		padding-bottom: 15px;
	}
}